.main-nav {
  padding: 2rem 0;
  z-index: 100;
  font-family: "Knockout 54 A", "Knockout 54 B";
  font-style: normal;
  font-weight: 400;
}

.nav-signup {
  border: 2px solid #7cc8e8;
  color: white;
  text-transform: uppercase;
  margin-right: 0;
  &:hover {
    background-color: #ffffff;
    border: 2px solid $secondaryGreen;
    color: $secondaryGreen;
  }
  &:active {
    background-color: $secondaryGreen;
    color: white;
  }
}

.navbar-collapse {
  margin: auto;
  nav {
    ul {
      li {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
        &:last-of-type {
          padding: 0;
        }
        a {
          display: block;
          color: black;
          font-size: 11px;
          &.active {
            color: $secondaryGreen;
            border-bottom: 2px solid $secondaryGreen;
          }
          &:hover {
            border-bottom: 2px solid $secondaryGreen;
          }
          &.stay-inform {
            background-color: $secondaryGreen;
            color: white;
            padding: 12px 6px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            width: 136px;
            &:hover {
              border-bottom: none;
              // color: $darkGreen;
            }
          }
          &:not([href]) {
            &:not([tabindex]) {
              cursor: pointer;
              &:hover {
                color: $secondaryGreen;
              }
            }
          }
        }
      }
      a:hover {
        text-decoration: none;
        color: $secondaryGreen;
      }
    }
  }
}

.mobile-nav {
  display: none;
  z-index: 1000;
}

.navbar-toggle {
  display: none;
}

@media only screen and (max-width: 992px) {
  .main-nav {
    padding-bottom: 0;
  }

  .mobile-nav {
    &.opened {
      display: block;
      // position: absolute;
      background-color: #f8f7fa;
      width: 100%;
      transition: 0.2s ease;
      max-height: 100vh;
      overflow-y: scroll;
    }

    .stay-inform-link {
      background-color: $secondaryGreen;
      a {
        color: white;
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
        &:hover {
          color: white;
        }
      }
    }
  }

  .mobile-nav-overlay {
    background-color: rgba(51, 51, 51, 0.9);
    background-size: cover;
    height: 100vh;
    z-index: 9999;
    position: relative;
  }

  .mobile-nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0 15px;

    li {
      width: 100%;

      &:first-child {
        margin-top: 15px;
      }

      a {
        color: black;
        display: block;
        padding: 14px 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        &:hover {
          color: $darkGreen;
        }
      }
    }
  }

  .mobile-utility-links {
    list-style: none;
    background-color: #e6e6f3;
    padding: 40px 15px 10px 15px;
    margin: 0;
    li {
      padding-bottom: 30px;
      a {
        color: $secondaryGreen;
        font-size: 11px;
        text-transform: uppercase;
        &:hover {
          color: $darkGreen;
          text-decoration: none;
        }
      }
    }
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-header {
    display: flex;
    justify-content: space-between;
  }

  .navbar-toggle {
    display: block;
    position: relative;
    margin: 0;
    height: 55px;
    width: 65px;
    overflow: hidden;
    align-self: flex-start;
    background-color: transparent;
    border: 0;

    &:active {
      color: $darkGreen;
    }

    &.active {
      .icon-bar:nth-child(2) {
        transform: rotate(45deg);
        right: -6px;
      }

      .icon-bar:nth-child(3) {
        transform: translateX(-50px);
      }

      .icon-bar:nth-child(4) {
        transform: rotate(-45deg);
        right: -6px;
      }

      &:after {
        content: "CLOSE";
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        &:active {
          color: $darkGreen;
        }
      }
    }

    &:after {
      content: "MENU";
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      &:active {
        color: $darkGreen;
      }
    }

    &:focus {
      outline: none;
    }

    .icon-bar {
      margin: 0;
      display: block;
      background: $blue;
      width: 45px;
      height: 3px;
      border-radius: 2px;
      position: absolute;
      right: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: transform 300ms ease;
      -moz-transition: transform 300ms ease;
      -ms-transition: transform 300ms ease;
      -o-transition: transform 300ms ease;
      transition: transform 300ms ease;
      -webkit-transform-origin: 1px;
      -moz-transform-origin: 1px;
      -o-transform-origin: 1px;
      transform-origin: 1px;
    }

    .icon-bar:nth-child(2) {
      top: 0;
    }

    .icon-bar:nth-child(3) {
      top: 15px;
    }

    .icon-bar:nth-child(4) {
      top: 30px;
    }
  }
}
